.chart-container {
  width: 100%;
  direction: rtl !important;
  padding: 20px;
}

.chart-title {
  text-align: left;
  margin-bottom: 20px;

}

.tab-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  
}

.tab-button {
  padding: 4px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}



.custom-tooltip {
  background-color: white;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  direction: rtl;
}
tspan{
  /* margin-right: 50px; */
}
