@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #17182c;
  --foreground: #171717;
  
  --main:#54EECC;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  background: var(--background);
}

.hover-main:hover{
  box-shadow: 0 0 8px var(--main);
  transition: 0.3s;
}

@media (max-width:768px){
  html{
    font-size: 14px;
  }
}