.home{
  background: url("../Assets/Herosection.png")  !important;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  /* padding-top: 20vh; */
}
.contact{
  background-image: url('../public/contact.png');
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.swiper {
  width: 100%;
  cursor: grab;
 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22.5rem;
}

.swiper-slide img {
  width: 100%;

  height: 100%;
  border-radius: 25px;
}

.testmonials{
  background: url('../Assets/Review.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  
}

.box {
  background: linear-gradient(180deg, rgba(193, 97, 201, 0.3) 0%, rgba(39, 40, 75, 0.3) 100%);
  border-radius: 16px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Stroke */
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}
.no-scrollbar{
  scrollbar-width: 0px;
}